<h1>This is my home page</h1>
<div class="jumbotron">
    <h1> <i class="fa fa-circle-o-notch"></i> SkyToDo </h1>
    <p>This is our doing list app built with Ruby on Rails </p>
    <%= link_to 'Sign Up', "#", class: 'btn btn-primary btn-lg' %>
</div>
